<!DOCTYPE html>
<html>
<head>
    <title>{% if title %}{{ title }}{% else %}sharePy{% endif %}</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/bootstrap-simplex.min.css') }}">
    <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
{% include 'navigation.html' %}
<div id="content" class="col-lg-10 col-lg-offset-1">
    {% with msg = get_flashed_messages(with_categories=True) %}
        {% if msg %}
        <div id="flashmessages">
            {% for c, m in msg %}
            <div class="alert
                {% if c == 'error' %}alert-danger
                {% elif c != 'message' %}alert-{{ c }}
                {% else %}alert-info{% endif %}">{{ m }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    {% if title %}<h2>{{ title }}</h2>{% endif %}

    {% block content %}{% endblock %}
</div>
</body>
<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% block page_scripts %}{% endblock %}
</html>
