@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/simplex.woff');
}

html {
    margin: 0;
    padding: 0;
}

#content {
    margin-top: 5px;
}

.login-form {
    margin-top: 15%;
}

.uploads-filetoken-row {
    display: none;
}
